<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    {{{_sections.head}}}
</head>
<body>
    <img src="/img/40.png"/>
    {{{body}}}
    {{#if flash}}
    <div class="alert alert-dismissible alert-{{flash.type}}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{flash.intro}}</strong> {{{flash.message}}}
    </div>
    {{/if}}
    {{{_sections.script}}}
</body>
</html>